beautifulsoup4
glasbey
hdbscan
git+https://github.com/Maayanlab/maayanlab-bioinformatics.git
matplotlib
numpy
pandas
rdkit
requests
scikit-learn
scipy
supervenn
tensorflow
tensorflow_addons
tqdm
supervenn